
config default 'default'
	option limit_enable '0'
	option limit_mac_enable '0'
	option priority_enable '0'
	option priority_netdev 'wan'

config priority
	option protocol 'udp'
	option priority '-400'
	option service '53'
	option comment 'DNS-UDP'

config priority
	option protocol 'tcp'
	option priority '-400'
	option service '53,443,80,22,21'
	option comment '优先TCP'

config priority
	option protocol 'tcp'
	option priority '-300'
	option service '1024-65535'
	option comment '其他TCP流量'

